<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bracelet">
  <xacro:include filename="$(find hand)/urdf/thimble.urdf.xacro"/>
  <xacro:include filename="$(find hand)/urdf/wrist_bracelet.urdf.xacro"/>
  <xacro:include filename="$(find hand)/urdf/star.urdf.xacro"/>
  <xacro:include filename="$(find hand)/urdf/object.urdf.xacro"/>
  <xacro:include filename="$(find hand)/urdf/materials.urdf"/>


  <!-- <link name="world"/> -->

  <xacro:model_wrist_bracelet name="wrist_bracelet" parent="world" color="Orange">
  </xacro:model_wrist_bracelet>
 <!-- 
  <xacro:model_star name="star" parent="world" color="SickBlue">
  </xacro:model_star>

  <xacro:model_object name="cup" parent="star" color="Blue">
  </xacro:model_object> -->
  
</robot>