<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <macro name="model_object" params="name parent color">
  
    <link name="${name}">
      <visual>
        <geometry>
         <mesh filename="file://$(find hand)/mesh/object.stl"/>
        </geometry>
        <material name="${color}" />
      </visual>
    </link>
 
    <joint name="${parent}_${name}_base_joint" type="fixed">
      <origin xyz="0 0 0"  rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint> 
    
  </macro>


</robot>

