<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="thimble1">
  <xacro:include filename="$(find hand)/urdf/thimblefloat.urdf.xacro"/>
  <xacro:include filename="$(find hand)/urdf/materials.urdf"/>
  <xacro:model_thimble name="thimble1" parent="world" color="Green">
  </xacro:model_thimble>
</robot>