<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <macro name="model_thimble" params="name parent color">
    <link name="${name}_link">
      <visual>
	      <geometry>
	       <mesh filename="file://$(find hand)/mesh/thimble.stl"/>
	      </geometry>
        <material name="${color}" />
      </visual>
    </link>
  </macro>
</robot>

