<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <macro name="model_wrist_bracelet" params="name parent color">
   <link name="${name}">
      <visual>
        <geometry>
         <mesh filename="file://$(find hand)/mesh/wrist_bracelet.stl"/>
        </geometry>
        <material name="${color}" />
      </visual>>
    </link>
  </macro>

</robot>